* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

a {
    color: rgb(113, 113, 113);
    text-decoration: none;
}

li:hover a {
    color: white;
}

a:visited {
    color: rgb(113, 113, 113);
}





.main-container {
    display: flex;
    flex-flow: row nowrap;

    width: 100%;

    /* debug */
    height: calc(100vh - 80px);
    background-color: rgb(20, 25, 34);
}


/* /common */





/* _______header-sidebar________ */

header nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 200px;
    height: calc(100vh - 80px);
    background-color: black;
    font-size: smaller;

    overflow: none;
}

header nav .top-links .logo-normal img {
    width: 100%;
    padding: 10px;
}

header nav .top-links .logo-mobile {
    display: none;
}



.top-links .menu-mobile {
    display: none;
}


.top-links ul {
    font-size:1em;
    font-weight: 600;
    list-style-type: none;
    color: rgb(113, 113, 113);
}

.top-links .menu-sections li {
    padding-left: 20px;
}

.top-links .menu-sections .selected {
    padding-left: 18px;
    border-left: 2px solid rgb(173, 255, 47);
}

.selected a {
    color: white;
}

.top-links .selected .menu-icon {
    opacity: 1.5;
}

.menu-sections li {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
    
}


.top-links .menu-icon {
    width: 15%;
    opacity: 0.5;
}


.top-links .menu-icon img {
    width: 100%;
}



.playlist {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    
    padding: 20px 0 0 20px;
    font-size:1em;
}

.playlist h3 {
    color: white;
    text-transform: uppercase;
}

.add-playlist {
    display: flex;
    align-items: center;
    color: rgb(113, 113, 113);
    font-weight: bold;
    line-height: 2em;
}

.add-playlist .menu-icon {
    width: 30%;
}

.add-playlist:hover .menu-icon i {
    color: white;
}

.add-playlist i {
    font-size: 3em;
}

.playlist ul {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    list-style-type: none;
    font-weight: initial;
}





.bottom-links {
    padding: 20px;
}

.bottom-links .install {
    display: flex;
    align-items: center;
    gap: 5px;
    width: 100%;
    font-size: 0.7em;
    padding: 5px 0;
}



.bottom-links .install img {
    width: 15%;
    opacity: 0.5;
}

.bottom-links .install:hover img {
    opacity: 1;
}


.bottom-links .user {
    display: flex;
    align-items: center;
    padding-top: 10px;
    gap: 10px;
}

.bottom-links .user .menu-icon {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: gray;
    overflow: hidden;
}

.bottom-links .user .menu-tag {
    color: white;
    font-weight: bold;
}


.bottom-links-mobile {
    display: none;
}






@media screen and (max-width: 575px) {
    header nav {
        min-width: 50px;
        max-width: 50px;
    }

    header nav .top-links .logo-normal,
    .menu-sections,
    .playlist,
    .bottom-links {
        display: none;
    }

    header nav .top-links .logo-mobile {
    display: block;
    }

    header nav .top-links .logo-mobile img {
        width: 100%;
        padding: 10px;
    }

    .top-links .menu-mobile {
        display: flex;
        flex-direction: column;
        gap: 5px;
        padding-left: 10px;
    }

    .top-links .menu-mobile .menu-icon img {
        width: 500%;
    }

    .bottom-links-mobile {
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: center;
        padding-bottom: 20px;
    }

    .bottom-links-mobile img {
        width: 40%;
        opacity: 0.5;
    }

    .bottom-links-mobile .menu-icon {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background-color: gray;
        overflow: hidden;
    }

    .bottom-links-mobile .menu-icon img {
        width: 100%;
    }





}






/* _________main section________ */


main {
    position: relative;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    background-color: rgb(20, 25, 34);
}


main nav {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 80px;
    background-color: black;
    opacity: 0.3;
}

/* 
.central-section .main-sections {
    width: 100%;
    height: 400px;
    background-color: blueviolet;
    border: 1px solid black;
}

 */












 /* _____bottom section_______ */


footer {
    width: 100%;
    height: 80px;
    background-color: rgb(40, 40, 40);
}