* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

a {
    color: rgb(113, 113, 113);
    text-decoration: none;
}

li:hover a {
    color: white;
}

a:visited {
    color: rgb(113, 113, 113);
}





.main-container {
    display: flex;
    flex-flow: row nowrap;

    width: 100%;

    height: calc(100vh - 80px);
    background-color: rgb(20, 25, 34);
}


/* /common */





/* _______header-sidebar________ */

header nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 200px;
    height: calc(100vh - 80px);
    background-color: black;
    font-size: smaller;
    overflow: hidden;

}

header nav .top-links .logo-normal img {
    width: 100%;
    padding: 10px;
}

header nav .top-links .logo-mobile {
    display: none;
}


.top-links .menu-mobile {
    display: none;
}


.top-links ul {
    font-size:1em;
    font-weight: 600;
    list-style-type: none;
    color: rgb(113, 113, 113);
}

.top-links .menu-sections li {
    padding-left: 20px;
}

.top-links .menu-sections .selected {
    padding-left: 18px;
    border-left: 2px solid rgb(173, 255, 47);
}

.selected a {
    color: white;
}

.top-links .selected .menu-icon {
    opacity: 1.5;
}

.menu-sections li {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
    
}


.top-links .menu-icon {
    width: 15%;
    opacity: 0.5;
}


.top-links .menu-icon img {
    width: 100%;
}

.playlist {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    overflow: auto;

    
    padding: 20px 0 0 20px;
    font-size:1em;
}

.playlist h3 {
    color: white;
    text-transform: uppercase;
}

.add-playlist {
    display: flex;
    align-items: center;
    color: rgb(113, 113, 113);
    font-weight: bold;
    line-height: 2em;
}

.add-playlist .menu-icon {
    width: 25%;
}

.add-playlist:hover .menu-icon i {
    color: white;
}

.add-playlist i {
    font-size: 3.5em;
}

.playlist ul {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    list-style-type: none;
    font-weight: initial;
    
}





.bottom-links {
    padding: 20px;
    list-style-type: none;
}

.bottom-links .install {
    display: flex;
    align-items: center;
    gap: 5px;
    width: 100%;
    font-size: 0.7em;
    padding: 5px 0;
}



.bottom-links .install img {
    width: 15%;
    opacity: 0.5;
}

.bottom-links .install:hover img {
    opacity: 1;
}


.bottom-links .user {
    display: flex;
    align-items: center;
    padding-top: 10px;
    gap: 10px;
}

.bottom-links .user .menu-icon {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: gray;
    overflow: hidden;
}

.bottom-links .user .menu-tag {
    color: white;
    font-weight: bold;
}


.bottom-links-mobile {
    display: none;
}






@media screen and (max-width: 575px) {
    header nav {
        min-width: 50px;
        max-width: 50px;
    }

    header nav .top-links .logo-normal,
    .menu-sections,
    .playlist,
    .bottom-links {
        display: none;
    }

    header nav .top-links .logo-mobile {
        display: block;
    }

    header nav .top-links .logo-mobile img {
        width: 100%;
        padding: 10px;
    }

    .top-links .menu-mobile {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 5px;
        padding-left: 10px;
    }

    .top-links .menu-mobile .menu-icon {
        width: 100%;
    }

    .top-links .menu-mobile .menu-icon img {
        width: 80%;
    }

    .menu-icon.selected-icon {
        opacity: 1;
    }


    .bottom-links-mobile {
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: center;
        padding-bottom: 20px;
    }

    .bottom-links-mobile img {
        width: 40%;
        opacity: 0.5;
    }

    .bottom-links-mobile .menu-icon {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background-color: gray;
        overflow: hidden;
    }

    .bottom-links-mobile .menu-icon img {
        width: 100%;
        opacity: 1;
    }


}









/* _________main section________ */


main {
    position: relative;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    background-color: rgb(20, 25, 34);
}


main #upgrade-bar {
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    z-index: 3;
    justify-content: flex-end;
    /* align-items: center; */
    padding: 10px 5px 0 0;
    width: calc(100% - 200px);
    height: 60px;
    background-color: rgb(8, 11, 18, 0.8);
}

.btn-upgrade {
    width: 200px;
    height: 40px;
    background-color: rgb(8, 11, 18, 0.8);
    border: 1px solid white;
    border-radius: 20px;
    color: white;
    text-transform: uppercase;
}

.btn-upgrade:hover {
    transform: scale(1.1);
}

.central-section {
    padding: 100px 20px 0 0;
}


.central-section nav ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
    color: rgb(121, 124, 128);
    font-size: 0.8em;
    text-transform: uppercase;
    list-style-type: none;
}

.central-section nav ul li {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
    position: relative;
}

.central-section nav ul li.central-selected::before {
    content: "";

    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translatex(-50%);
    width: 40px;
    height: 3px;
    background-color: rgb(173, 255, 47);
}







.central-section .main-sections {
    padding: 20px;
    width: 100%;
    
}

.recently-played, .created-for, .popular-artists {
    display: flex;
    flex-flow: row wrap;
    gap: 10px;
    width: 100%;
    padding-top: 20px;

}

.album-card {
    width: calc(100% / 6 - (10px / 6 * 5));

}

.album-card .card-image {
    position: relative;
}

.album-card .card-image i {
    display: none;
}

.album-card .card-image img {
    width: 100%;
}

.album-card .card-caption {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 5px;
    
}

.album-name {
    color: white;
    font-size: 0.8em;
}

.album-artist {
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.6em;
    padding-top: 5px;
}

.central-section .main-sections h2 {
    color: white;
    font-size: 1.2em;
}

.popular-artists .album-card .card-image {
    border-radius: 50%;
    overflow: hidden;
}

.album-card:hover img {
    opacity: 0.5;
}

.album-card:hover i {
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2;
    transform: translate(-50%, -50%);
    font-size: 3em;
    color: white;
}








@media screen and (max-width: 992px) {
    .album-card {
        width: calc(100% / 4 - (10px / 4 * 3))
    }
}




@media screen and (max-width: 768px) {
    .album-card {
        width: calc(100% / 2 - (10px / 2))
    }
}


@media screen and (max-width: 575px) {
    main #upgrade-bar {
        width: calc(100% - 50px);
    }
}








 /* _____bottom section_______ */


footer {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    gap: 5px;
    background-color: rgb(40, 40, 40);
    padding: 20px;
}

#footer-left {
    width: 100%;
    max-width: 200px;
}

#footer-left .current-track {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 90%;
    height: 100%;
    font-size: 1em;
}

#footer-left .current-track .current-track-image {
    width: 30%;
    height: 100%;
}

#footer-left .current-track .current-track-image img {
    width: 100%;
}

#footer-left .current-track .current-track-tag {
    display: flex;
    flex-direction: column;
}

.current-track-tag .album-artist:hover a {
    color: white;
    text-decoration: underline;
}

.footer-icons {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    width: 30%;
}

#footer-left .footer-icons a:hover {
    color: white;
}






#footer-central {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    max-width: 500px;
    min-width: 200px;
    padding: 5px;
}

#footer-central .player-buttons, 
#footer-central .player-timeline {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
    gap: 15px;
}


#footer-central .player-buttons a {
    font-size: 1.2em;
    color: white;
}

#footer-central .player-buttons .fa-circle-play {
    font-size: 1.5em;
}

.player-bar {
    flex-grow: 1;
}

.player-bar-total {
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: rgb(90, 90, 90);
}

.player-bar-current {
    position: relative;
    width: 25%;
    height: 100%;
    border-radius: 2px;
    background-color: white;
}

.player-time {
    font-size: 0.8em;
    color: white;
}

.player-bar-current:hover {
    background-color: rgb(173, 255, 47);
    cursor: pointer;
}

.player-bar-current:hover::before {
    content: "";

    position: absolute;
    bottom: 0;
    right: 0;
    transform: translate(25%, 25%);
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: white;
}






#footer-right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    max-width: 200px;
    gap: 10px;
}

#footer-right .footer-icons {
    font-size: 0.8em;
    gap: 5px;
}

#footer-right .footer-icons a {
    color: white;
    width: 50%;
}

#footer-right .player-bar {
    width: 50%;
}











@media screen and (max-width: 768px) {
    #footer-left .footer-icons {
        flex-direction: column;
        gap: 2px;
    }
}