* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

a {
    color: rgb(113, 113, 113);
    text-decoration: none;
}

li:hover a {
    color: white;
}

a:visited {
    color: rgb(113, 113, 113);
}



.main-container {
    display: flex;
    flex-flow: row nowrap;

    width: 100%;

    /* debug */
    height: calc(100vh - 80px);
    background-color: rgb(20, 25, 34);
}




header nav {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: space-between;
    min-width: 200px;
    height: calc(100vh - 80px);
    background-color: black;

    overflow: none;
}

header nav .top-links .logo img {
    width: 100%;
    padding: 10px;
}

.top-links ul {
    font-size:1em;
    font-weight: 600;
    list-style-type: none;
    color: rgb(113, 113, 113);
}

.top-links .menu-sections li {
    padding-left: 10px;
}

.top-links .menu-sections .selected {
    padding-left: 8px;
    border-left: 2px solid rgb(173, 255, 47);
}

.selected a {
    color: white;
}

.top-links .selected .menu-icon {
    opacity: 1.5;
}

.menu-sections li {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
    
}


.top-links .menu-icon {
    width: 15%;
    opacity: 0.5;
}


.top-links .menu-icon img {
    width: 100%;
}



.playlist {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    
    padding: 20px 10px;
    font-size:1em;
}

.playlist h3 {
    color: white;
    text-transform: uppercase;
}

.add-playlist {
    color: rgb(113, 113, 113);
    font-weight: bold;
    line-height: 2em;
}

.add-playlist .menu-tag {
    display: inline-block;
}


.add-playlist i {
    font-size: 3em;
}

.playlist ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
    list-style-type: none;
    font-weight: initial;
}









main {
    position: relative;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    background-color: rgb(20, 25, 34);
}


main nav {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 80px;
    background-color: black;
    opacity: 0.3;
}

/* 
.central-section .main-sections {
    width: 100%;
    height: 400px;
    background-color: blueviolet;
    border: 1px solid black;
}

 */










footer {
    width: 100%;
    height: 80px;
    background-color: rgb(40, 40, 40);
}